:root {
    --header: #f65a5f;
    --footer: #505060;
}

html {
}

body {
    background-image: url("https://giftwalker.app/static/media/bg.66ff2e3a.jpg");
    font-family: "Asap", "Helvetica Neue". sans-serif;
    line-height: 1.5;
    height: 100%;
}


header {
    height: 65px;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: var(--header);
    left: 0;
}

footer {
    height: 40px;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    text-align: center;
    color: #fff;
    left: 0;
    right: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px auto 0 auto;
}

.homeright {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 60px;
    margin-top: 85px;
    font-family: Asap;
    color: #747577;
    
}

div p i {
    color: rgba(239, 206, 95, 0.9);
    float: left;
    margin: 8px 15px 15px 15px;
}

.subscribe {
    margin-left: 10px
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #babbbc;
    margin-bottom: 20px;
}

input::placeholder {
    color: #babbbc;
}

footer p {
    margin: 0;
}

#gwlogo {
    width: 350px;
}

button {
    width: 107%;
    padding: 10px;
    background-color: var(--header);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: Arial;
    font-weight: 100;
    font-size: 1.05rem;
    margin-right: 0
}


button:hover {
    background-color: #f73f2e;
}

strong {
    font-size: 1.03rem;
}

@media(max-width:1000px) {
    .mobile {
        display:none;
    }
}